section {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

section button {
  background-color: transparent;
  border-radius: 12px;
  border: 1px dashed gray;
  cursor: pointer;
}

section section {
  display: flex;
  flex-direction: column;
}
