@import url("../debugger.css");

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: perspective;
  grid-column-start: 1;
  margin: auto;
}

:host > h1,
.score,
:host > section > h3 {
  align-self: center;
}

:host > section {
  display: inherit;
  flex-direction: column;
}

section:has(app-review-card) {
  display: inherit;
  flex-direction: row;
}

app-placeholder {
  margin: auto;
}
